* {
  
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #cfd2e2;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #E8EAF6;
  width: 60%;
  height: 95%;
  border: 2px solid rgba(255, 68, 0, .5);
  padding: 1rem 3rem;
}

#kku {
  width: 450px;
}

h1#header {
  font-size: 5rem;
  margin: 0;
  text-align: center;
  color: rgba(33, 39, 48, .95);
  /* text-shadow: 5px 5px rgb(34, 40, 49, .2); */
  text-shadow: 5px 5px rgba(33, 39, 48, .15);
  letter-spacing: .5rem;
}

h1#header, p {
  font-family: 'Oswald', sans-serif;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  border:10px solid black;
  padding: .1rem;
  resize: both;
  border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
}

p {
  font-size: 1.3rem;
  letter-spacing: .025rem;
}

ul {
  margin: 0;
}

li {
  font-size: 1.15rem;
  font-family: 'Sarabun', sans-serif;
  list-style: none;
  margin: 0;
  margin: .25rem 0;
}

li::before {
  content: "🦉";
  margin-right: .5rem;
}

a {
  text-decoration: none;
  color: black;
  border-bottom: 2px solid orangered;
  transition: all .25s;
  padding: 0 .25rem;
}

a:hover {
  background-color: orangered;
  color: white;
}